[Desktop Entry]
Name=SpanningTree Notifier KDE Settings
Name[da]=SpanningTree-notifikator KDE-indstillinger
Name[fr]=Paramètres du Notifieur KDE SpanningTree
Name[hu]=A SpanningTree Notifier KDE beállítása
Name[pl]=Ustawienia powiadomień SpanningTree dla KDE
Name[sk]=Nastavenia oznámení KDE systému SpanningTree

Comment=Graphical Settings for SpanningTree Notifier KDE
Comment[da]=Grafiske indstillinger til SpanningTree-notifikator KDE
Comment[de]=Grafische Einstellungsverwaltung für SpanningTree
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur SpanningTree
Comment[hu]=Grafikus beállításkezelő a SpanningTree KDE Értesítőhöz
Comment[pl]=Graficzne ustawienia powiadomień SpanningTree dla środowiska KDE
Comment[sk]=Grafické nastavenia oznámení prostredia KDE pre systém SpanningTree

Exec=msm_kde_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;
