[Desktop Entry]
Name=SpanningTree Notifier Settings
Name[da]=Manjaro-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur Manjaro
Name[hu]=Manjaro Értesítő beállítások
Name[pl]=Ustawienia powiadomień Manjaro
Name[sk]=Nastavenia oznámení systému Manjaro
Name[zh_CN]=系统提示设置

Comment=Graphical Settings for Manjaro Notifier
Comment[da]=Grafiske indstillinger til Manjaro-notifikator
Comment[de]=Grafische Einstellungsverwaltung für spanningtree
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur spanningtree
Comment[hu]=A spanningtree Notifier értesítéseinek beállítása
Comment[pl]=Graficzne ustawienia powiadomień systemu spanningtree
Comment[sk]=Grafické nastavenia oznámení pre systém spanningtree
Comment[zh_CN]=系统提示设置的图形设置界面

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
